<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Factory</title>
        <link rel="stylesheet" href="hello.css">
    </head>
    <body>

        <h1>Let's Create a Factory or Two, Shall We?</h1>
        <form class="factory-name">
            Pick a name for your factory:<br>
            <input type="text" name="facname" id="cfn"><br>
            <input type="button" value="Create!" onclick="factoryName();">
        </form>

        <script src="./hello.js"></script>
    </body>
</html>